/.settings/*

/html-template/*
/bin/*
/dist/*
/docs/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings

Icon
Thumbs.db
.DS_Store

