/.settings/*

/html-template/*
/bin/*
/bin-debug/*
/bin-release/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.project
.sourceMate
.sourceMateMetadataSettings

Icon
Thumbs.db
.DS_Store

