/.settings/*

/html-template/*
/bin/*
/dist/*
/docs/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings
setEnv.sh

Icon
Thumbs.db
.DS_Store

target
*.iml
*.ipr
*.iws
.idea
